#target-list
{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

#chat-area
{
    height: 100%;
    margin-right: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#command-line
{
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0;
}